nav{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color:#0f172a;
    color: white;
    height: 72px;
}
.logo{
    padding: 0 13px;
}

.logo img{
    width: 47px;
    border-radius: 7px;
}