<div class="container line-numbers">
    <ol>
        <li><b>git commands:</b> Basic git commands
            <pre class=" language-git">
                <code>
                    git add -A  => add all files

                    git add . => add all files
                    
                    git status
                    
                    git log => show all commit
                    
                    git log -p -1 => show 1 commit
                    
                    git commit -m "first commmit"
                    
                    $ git config --global user.email
                    
                    $ git config --global user.name
                    
                    touch filename => create file
                    
                    clear => clear screen
                    
                    git checkout => match current file with last commit
                    
                    git checkout -f => match all file with last commit
                    
                    Q => quit command
                    
                    git diff => difference bw staging area and working tree
                    
                    git diff --staged  => compare working tree from last commit
                    
                    git commit -a -m "skiiped stagging area"
                    
                    ls =>list all files
                    ls -lart => Hidden file
                    
                    git rm --cached waste.html=> remove file from stagging area
                    
                    git rm waste.html=> delete file
                    
                    git status -s  (small overview)
                    
                    touch .gitignore => create gitignore file
                    
                    mylog.log  => ignore this file
                    /mylog.log  => ignote this file from root of project
                    *.log -> ignore all files with extension .log
                    myFolder/ =>ignore folder/directory
                    
                    git branch feature1 => create branch
                    
                    git branch => check current branch
                    
                    git checkout feature1  => switch feature branch
                    
                    git merge feature1(from master branch , merging feature1 into master)
                    
                    git checkout -b new branch => create new branch and checkout
                    
                    
                        git remote add "name" "url"
                        and then push using the remote name
                        git push "name"
                    
                    git remote add origin https://myrepo
                    
                    git remote =>list all remote origin
                    
                    git remote -v => list fetch and push branch
                    
                    git remote set-url origin hit@gihub.com//   => set origin url
                    
                    git push -u origin master 
                </code></pre>
        </li>
    </ol>
</div>
 